


<form #ctx="ngForm" (ngSubmit)="createGig(ctx.value)">
    <div class="form-group">
        <label for="Venue">Venue</label>
        <input ngModel type="text" class="form-control" name="Venue" id="Venue">
    </div>

    <div class="form-group">
        <label for="Date">Date</label>
        <input ngModel type="date" class="form-control" name="Date" id="Date">
    </div>

    <div class="form-group">
        <label for="Time">Time</label>
        <input ngModel type="time" class="form-control" name="Time" id="Time">
    </div>

    <div class="form-group">
        <label for="GenreId">Genre</label>
        <select ngModel class="form-control" name="GenreId" id="GenreId">
            <option *ngFor="let genre of genres" value="{{ genre.id }}">{{ genre.name }}</option>
        </select>
    </div>

    <input class="btn btn-primary" type="submit" value="submit">

</form>