<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gig Hub ElEdition</title>
</head>
<body>
    <header>
        <h1>Hello from GigHubec</h1>
    </header>

    <section>
        <ul>
            <li>
                <a href="~/home/index">Home</a>
            </li>
            <li>
                <a href="~/account/signin">Login</a>
            </li>
            <li>
                <a href="~/account/signout">Logout</a>
            </li>

            <li>
                <a href="~/home/more">More</a>
            </li>
        </ul>
    </section>


    @RenderBody()
</body>
</html>