<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gig Hub NetCore Angular Edition</title>
    <title>@ViewData[_CONST.Title] - TestProject</title>

    <!--lib CSS-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <!--lib JS-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    <!--JS-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <!--CSS-->
</head>

<body>
    <section class="container">
        @RenderBody()
    </section>

    @RenderSection(name: "Scripts", required: false)
</body>

</html>