<nav class="navbar navbar-dark bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="" class="navbar-brand text-xl-center">GigHub</a>
        </li>

        <li class="nav-item">
            <a routerLink="login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a routerLink="logout" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>