/* General */
body {
    /* padding-top: 90px; */
    padding-bottom: 20px;
}
label:hover {
     cursor: pointer; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* gigs (Home View) */
#gigs .date {
    background: rgb(192, 77, 77);
    color: white;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}
#gigs .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}
#gigs .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
}